html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  text-align: center;
}

.container::-webkit-scrollbar {
  width: 0 !important;
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background: transparent;
}

@-moz-document url-prefix() {
  .container {
    scrollbar-width: none;
    scrollbar-color: transparent;
  }
}

.container-bg {
  width: 100%;
  height: 6301px;
  padding-bottom: 118px;
  margin-bottom: 59px;
}

.background {
  margin-top: 30.8px;
  height: 772px;
  width: 100%;
  padding-left: -126.38px;
  position: absolute;
  background-image: url(./ImageP1/mobile-background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.nav {
  width: 381px;
  height: 12px;
  margin-top: 62px;
  display: flex;
  justify-content: flex-end;
}

.nav img {
  width: 18px;
  height: 12px;
  margin-right: 41px;
  align-items: flex-end;
}

.desk {
  display: none;
}

.desktop {
  display: none;
}

.myheader {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
  margin-top: 63.2px;
  margin-left: 27px;
  margin-right: 27px;
  padding: 0;
  height: 211px;
  width: 327px;
}

#ham-menu {
  display: none;
  font-family: "Inter", sans-serif;
  position: absolute;
  height: 760px;
  width: 375px;
  text-align: left;
  z-index: 99;
  background-color: #fff;
}

.flex-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  list-style: none;
  max-width: 170px;
  margin-left: 105px;
  margin-right: 105px;
  padding-left: 0;
}

.languages ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 327px;
  height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  padding: 0;
  margin-bottom: 29px;
}

.resume-cards ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  width: 285px;
  height: 44px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 72px;
  padding: 0;
  margin-left: 24px;
  gap: 8px;
}

.user-form ul {
  list-style: none;
  margin-left: -20px;
}

.social-links {
  margin-left: 123px;
  text-align: center;
  justify-content: center;
}

.user-form > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

#ham-menu ul {
  list-style: none;
}

#ham-menu a {
  text-decoration: none;
}

.clr-grey {
  line-height: 60px;
  font-weight: 600;
  color: #3a4a42;
  font-size: 32px !important;
}

#x {
  position: absolute;
  margin-left: 322px;
  margin-top: -28px;
}

.blue {
  color: #172b4d;
  padding-top: 0;
}

.green {
  color: #36b37e;
  padding-top: 0;
}

h1 {
  margin-top: 0;
}

.flex-container p {
  width: 327px;
  height: 363px;
  font-family: "Inter", sans-serif;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-left: 27px;
  margin-right: 27px;
  text-align: center;
}

.double {
  width: 327px;
  height: 164px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.flex-icons li {
  align-items: flex-start;
  padding-left: 0;
  margin-bottom: 80.49px;
}

.flex-icons img {
  width: 20px;
  height: 19.58px;
}

.chevron {
  width: 327px;
  height: 48px;
  margin-left: 27px;
}

/* Cards */

.cards {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 24px;
}

header .work {
  width: 327px;
  height: 97px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-left: 26px;
  margin-right: 28px;
  margin-top: 0;
  margin-bottom: 42px;
}

.indicator {
  width: 48px;
  height: 4px;
  margin-left: 165px;
  margin-right: 167px;
  margin-bottom: 62px;
}

.card-img {
  width: 327px;
  height: 238px;
  margin-left: 0;
  margin-top: 0;
  background-color: #ebf0ee;
}

.card {
  width: 327px;
  height: 460px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  margin-left: 26px;
  margin-right: 28px;
}

.wrapper {
  border: 1px solid #fff;
  border-radius: 8px;
}

h3 {
  width: 295px;
  height: 57px;
  margin: 16px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
}

.languages li {
  box-sizing: border-box;
  background-color: #ebf0ee;
  padding: 8px 12px;
  border-radius: 4px;
}

.ruby {
  width: 106px;
  height: 32px;
}

.css {
  width: 50px;
  height: 32px;
}

.js {
  width: 89px;
  height: 32px;
}

.html {
  width: 60px;
  height: 32px;
}

.btn {
  width: 122px;
  height: 48px;
  background-color: #36b37f;
  border-radius: 4px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

.side-background {
  background-image: url(./ImageP1/Mask\ Group.png);
  background-repeat: no-repeat;
  background-position: 100% -20%;
}

.resume {
  width: 351px;
  height: 338px;
  background-image: url(./ImageP1/background-left.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.resume h2 {
  width: 351px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}

.resume h2:hover {
  font-size: 80px;
}

.resume .btn {
  width: 153px;
  height: 48px;
  margin-left: 111px;
  margin-right: 117px;
}

.works {
  margin-top: 772px;
}

.card-works {
  width: 338px;
  height: 280px;
  border: 1px solid #c1c7d0;
  background-color: #ebf0ee;
  border-radius: 8px;
  margin-left: 24px;
  margin-top: 59px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
}

.card-works img {
  margin-top: 38px;
  margin-bottom: 0;
  padding: 0;
}

h4 {
  width: 327px;
  height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-top: 0;
}

.resume-cards li {
  box-sizing: border-box;
  background-color: #fff;
  color: #36b37e;
  padding: 12px;
  border-radius: 8px;
}

.jvs {
  width: 89px;
  height: 40px;
}

.ruby1 {
  width: 55px;
  height: 40px;
}

.html1 {
  width: 60px;
  height: 40px;
}

.css1 {
  width: 50px;
  height: 40px;
}

.r-js {
  width: 73px;
  height: 40px;
}

.ruby-or {
  width: 106px;
  height: 40px;
}

.rspec {
  width: 63px;
  height: 40px;
}

.capy {
  width: 83px;
  height: 40px;
}

.sele {
  width: 81px;
  height: 40px;
}

.dm {
  width: 159px;
  height: 40px;
}

.version-c {
  width: 115px;
  height: 40px;
}

.cli {
  width: 40px;
  height: 40px;
}

.web-d {
  width: 132px;
  height: 40px;
}

.api-d {
  width: 88px;
  height: 40px;
}

.btn:hover {
  background-color: #36b37f;
}

.btn:active {
  background-color: #008552;
}

.user-form > p {
  width: 327px;
  height: 363px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-top: 54px;
  margin-bottom: 48px;
}

input {
  width: 295px;
  height: 18px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #6b778c;
  border: none;
}

textarea {
  width: 303px;
  height: 90px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #42526e;
  margin: 12px;
  border: none;
}

.input-text {
  width: 327px;
  height: 48px;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 24px;
  padding: 15px 16px 15px 16px;
}

.text-area {
  width: 327px;
  height: 114px;
  border: 1px solid #60c095;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 24px;
}

form .flex .item2 {
  align-items: center !important;
  justify-content: center;
  position: fixed;
}

.button {
  width: 129px;
  height: 48px;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
}

.email {
  width: 381px;
  height: 38px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin-left: 0;
  margin-top: 0;
}

.two {
  margin-bottom: 20.08px;
}

.nav-icons {
  height: 131px;
  width: 381px;
}

form {
  background-image: url(./ImageP1/illustration-contact-form.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  flex-direction: column;
}

input:valid {
  border: 2px solid #36b37f;
}

.img-bar {
  justify-content: center;
}

.mobile-cards {
  display: grid;
  padding: 16px;
  font-size: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 2000ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  height: 100%;
  width: 100%;
  z-index: 2;
}

.btn-close {
  position: absolute;
  top: 0%;
  right: 5%;
  background: none;
  margin-top: 42px !important;
  margin-right: 17px;
  border: 1px solid white;
  color: white;
}

.card-image {
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 16px;
}

.card-image > img {
  width: 100%;
  min-height: 220px;
  object-fit: cover;
}

.card-heading {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  color: #172b4d;
  text-align: left;
}

.lang-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.li-mobile {
  background: #ebf0ee;
  color: #3a4a42;
  padding: 0.5em 0.75em 0.5em;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 1em;
  letter-spacing: 0.03em;
  border-radius: 0.25em;
}

.card-para {
  color: #344563;
  text-align: left;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
}

.card-button {
  display: flex;
  gap: 12px;
}

.btn-live-source {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}

.btn-live-source > img {
  margin-left: 1.3rem;
}

.btn-live {
  height: 48px;
  border-radius: 4px;
  background-color: #36b37f;
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  width: fit-content;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 1em 1.5em;
  color: white;
}

.btn-source {
  height: 48px;
  border-radius: 4px;
  background-color: #36B37F;
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  width: fit-content;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 1em 1.5em;
  color: white;
}

@media (min-width: 768px) {
  .li-mobile {
    background: #EBF0EE;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 1em;
    letter-spacing: 0.03em;
    color: #344563;
    border-radius: 0.5em;
  }
  .mobile-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 60px;
    grid-template-rows: 60px 50% 1fr 60px 1fr;
  }
  .btn-close {
    background: #EBECF0;
    position: relative;
    grid-column: -2 / -1;
    grid-row: 1/2;
    width: 40px;
    height: 40px;
    margin-top: 10px !important;
  }
  .card-image {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  .card-heading {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-size: 1.5em;
    width: 100%;
  }
  


  .lang-list {
    grid-column: 1 /-1;
    grid-row: 4 / 5;
  }

  .card-para {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }

  .card-button {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
    display: flex;
    justify-content: flex-end;
  }

  .btn-live {
    margin-right: 0;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #36b37e;
  }

  .btn-source {
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #36b37e;
  }

  .container-bg {
    width: 100%;
    height: 3274px;
    background-image: url(./ImageP1/bottom-left-desk-background-resized.png);
    background-position-y: 68%;
    background-repeat: no-repeat;
  }

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image:
      url(./ImageP1/bottom-right-background-resized.png),
      url(./ImageP1/bottom-left-background-resized.png),
      url(./ImageP1/bottom-background-resized.png),
      url(./ImageP1/desk-right-background-resized.png);
    background-repeat: no-repeat;
    background-position-y: 98%, 97%, 95%, 62%;
    background-position-x: 100%, 0%, 25%;
  }

  * {
    box-sizing: border-box;
  }

  .nav img {
    display: none;
  }

  .desk {
    display: block;
    margin-top: -30px;
    height: 72px;
    width: 100%;
  }

  .desk ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 20%;
    height: 40px;
    align-items: center;
    gap: 10px;
    padding-left: 0;
    margin-left: 510px;
    margin-right: 510px;
    margin-top: 0;
  }

  .desk a {
    text-decoration: none;
  }

  .desk li {
    flex: 1;
    height: 20px;
  }

  .cl-desk {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .port {
    width: 63px;
    height: 20px;
    margin-left: 0;
  }

  .about {
    width: 45px;
  }

  .contact {
    width: 59%;
  }

  .background {
    width: 100%;
    height: 344px;
    background-image: none;
  }

  .background-container {
    height: 800px;
    overflow-y: hidden !important;
    background-image: url(./ImageP1/Header-llustration-desktop-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -12.55px;
    margin-left: 27px;
    margin-bottom: 122px;
    background-position: fixed;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .desktop {
    display: block;
  }

  .myheader {
    width: 70%;
    height: 114px;
    margin: 0 auto;
  }

  .break {
    display: none;
  }

  .double {
    width: 70%;
    height: fit-content;
    font-size: 18px;
    margin: 24px auto;
    margin-top: 0;
  }

  .flex-icons ul {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 45px;
    padding-left: 0;
  }

  .flex-icons li {
    padding: 0 auto;
  }

  .chevron {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 495px;
  }

  .works {
    margin-top: 0;
    width: 80%;
    height: 1080px;
    margin-left: 135px;
    margin-right: 134px;
  }

  header .work {
    width: 100%;
    height: 48px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 52px;
  }

  .indicator {
    display: none;
  }

  .cards {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0;
    height: 988px;
    padding-left: 16px;
    padding-right: 16px;
    width: 80%;
  }

  .card {
    max-width: 329px;
    height: 474px;
    margin-left: 0;
  }

  .card-img {
    max-width: auto;
  }

  .about-me {
    height: 739px;
    width: 97%;
    margin-top: 112px;
    margin-left: 15px;
    margin-right: 13px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-bottom: 17.5px;
  }

  .resume {
    width: 100%;
    height: 240px;
    margin-bottom: 69.5px;
    margin-left: 60px;
    margin-right: 60px;
    background-image: none;
  }

  .resume h2 {
    width: 50%;
    height: 48px;
    font-size: 40px;
    margin: 0 auto;
  }

  .resume p {
    width: 80%;
    margin-top: 24px;
  }

  .side-background {
    background-image: url(./ImageP1/desk-right-background-resized.png);
    background-repeat: no-repeat;
    background-position: 100% 20%;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 24px;
    height: 355px;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .card-works {
    width: 100%;
    height: 350px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .user-form {
    width: 94%;
    height: 490px;
    margin-top: 900px;
    margin-left: 143px;
    margin-right: 141px;
    margin-bottom: 230px;
    text-align: center;
    justify-content: center;
  }

  .flex-container {
    display: flex;
    width: 94%;
  }

  .flex-container p {
    width: 40%;
    height: 256px;
    margin-left: 0;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  form {
    width: 90%;
    margin-top: 80;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: none;
  }

  .flex-container form {
    width: 60%;
    height: 330px;
    padding: 0;
  }

  .item1 ul {
    align-items: flex-start;
    width: 574px;
    padding-left: 24px;
    margin-top: 0;
  }

  input {
    margin-left: 0;
  }

  .input-text {
    width: 100%;
    height: 48px;
    margin-right: 0;
    margin-left: 0;
    text-align: left;
  }

  .text-area {
    width: 100%;
    height: 114px;
    margin-right: 0;
    text-align: left;
  }

  .button {
    margin-left: 24px;
    width: 129px;
    height: 48px;
  }

  .line {
    margin-top: 28px;
    margin-bottom: 15px;
    margin-left: -170px;
    width: 1440px;
    padding-top: 206px;
    height: 1px;
  }

  .two {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    margin-left: -200px;
    margin-right: 0;
    width: 1440px;
    height: 30px;
  }

  .two ul {
    margin-top: 40px;
  }
}
